
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92 card" style="background-image: url('../../Content/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Giới thiệu
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Câu truyện
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Thành thật mà nói, từ “thời trang” rất thu hút mọi người. Nói một cách đơn giản, về cơ bản
                        nó là phong cách mặc quần áo, sử dụng phụ kiện và đồ trang sức theo xu hướng nào đó hoặc sở
                        thích cá nhân của riêng mình. Thời trang, về bản chất, là nghệ thuật biến đổi một trang phục
                        đơn giản thành thanh lịch. Đối với một số người, nó cũng chỉ là mặc trang phục thiết kế,
                        quần áo theo phong cách khác biệt và hấp dẫn khác nhau, vải mỏng hoặc áo choàng ưa thích.
                        Thời trang có vai trò quan trọng trong việc thiết lập xu hướng đối với những người theo nó.
                        Thời trang không chỉ là mặc quần áo hoặc phụ kiện thật phong cách,…, đó cũng là lần đầu tiên
                        hiểu được các dịp lễ, văn hóa và phong cách của một người hoặc địa điểm cụ thể và sau đó
                        thiết kế trang phục cho phù hợp. Vì vậy, các nhà thiết kế thời trang mất rất nhiều thời gian
                        để nghiên cứu các dịp lễ, địa điểm, vật liệu và một số thứ khác trước khi thiết kế trang
                        phục. Họ cũng phải xem xét công nghệ họ sử dụng, phương pháp khâu, vải,… cụ thể cho kích
                        thước, trọng lượng, chiều cao và làn da của người sẽ mặc trang phục.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Trong thời gian trước đây, thời trang thường được sử dụng để tượng trưng cho sự giàu có và
                        sang trọng; nhưng thời trang ngày nay đã tiến tới mọi ngôi nhà và toàn bộ ý tưởng về thời
                        trang đã thay đổi mạnh mẽ vì nó đại biểu nhiều hơn về trang phục và truyền tải tư tưởng của
                        bạn rất tốt bất kể loại quần áo bạn đang mặc.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Thời trang không chỉ giới hạn ở quần áo; phạm vi của nó vượt xa quần áo và trang phục. Nó
                        được sắp xếp gọn gàng từ trên xuống dưới. Phù hợp với phía dưới với phía trên, phù hợp với
                        lắc hoặc vòng đeo tay, đồng hồ, màu sắc, giày dép,… để thể hiện tốt ý nghĩa thời trang của
                        bạn.
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="~/Content/images/about-01.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Mục tiêu
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Tóm lại, thời trang là một phần không thể thiếu trong cuộc sống của chúng ta. Vì vậy, thay
                        vì tranh cãi liệu thời trang hay xu hướng mới nhất là tốt hay xấu cho văn hóa của chúng ta;
                        sẽ là khôn ngoan nếu áp dụng các quy tắc thời trang mới và tạo ra một cái gì đó của riêng
                        bạn trên cả phù hợp xu hướng và phong nhã cùng kết hợp.
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        Cảm ơn các bạn!
                    </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            Creativity is just connecting things. When you ask creative people how they did
                            something, they feel a little guilty because they didn't really do it, they just saw
                            something. It seemed obvious to them after a while.
                        </p>

                        <span class="stext-111 cl8">
                            - Steve Job’s
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="~/Content/images/about-02.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
